
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#container {
  width: 960px;
  height: 480px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #000000;
}

#minerals {
  margin-top: 20px;
  font-size: 20pt;
  text-align: center;
  font-family: 'Electrolize', sans-serif;
}
